:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --logo-part-color: #2196f3;
  --main-color: #ffffff;
  --bcnd-col: #f5f4fa;
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --main-font-weight: 400;
}

/* Відключення стандартної стилізації списків та посилань */

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Загальні властивості сторінки */

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: var(--main-font-weight);
  color: var(--main-text-color);
  background-color: var(--main-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid tomato; */
}

/* Стилі логотипу */

.logo-first-part,
.logo-second-part,
.logo-second-part-footer {
  font-family: var(--secondary-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-part-color);
}

.logo-second-part {
  color: #000000;
}

.logo-second-part-footer {
  color: var(--main-color);
}

/* Список навігації + пошта та номер */

.header {
  border-bottom: 1px solid #ececec;
}

.header-item,
.header-number,
.header-email {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.list .link.header-item,
.list .header-email,
.list .header-number {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-flex > .nav > .link {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-number,
.header-email {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  fill: var(--main-text-color);
}

.header-flex {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.list-flex,
.list-contacts {
  display: flex;
  margin-left: 93px;
}

.list-contacts {
  margin-left: auto;
}

.item-flex:not(:last-child) {
  margin-right: 50px;
}

.icon-header {
  fill: currentColor;
  margin-right: 10px;
}

/* Блок-герой */

.hero {
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-heading {
  display: inline-block;
  width: 696px;

  font-family: var(--main-font), sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 30px;
}

.hero-button,
.submit-button {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--logo-part-color);
  color: var(--main-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.subscribe-button:hover,
.subscribe-button:focus,
.submit-button:hover,
.submit-button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-color);
  color: #000000;

  padding: 0;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-close-icon {
  fill: currentColor;
  display: block;
}

.data-modal-close:hover {
  color: var(--logo-part-color);
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);

  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;

  padding: 40px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.modal-cont {
  display: block;
  margin-bottom: 10px;
}

.modal-input-thumb {
  display: block;
  position: relative;
}

.modal-icon {
  display: block;
  position: absolute;

  fill: #212121;

  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  transition: font-size, line-height;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus::placeholder {
  font-size: 14px;
  line-height: 1.14;
}

.modal-agreement {
  text-decoration-line: underline;
  color: var(--logo-part-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agreement:hover {
  color: #188ce8;
}

.submit-button {
  margin-top: 30px;
}

.modal-input:focus + .modal-icon,
.modal-input:focus,
.modal-textarea:focus {
  fill: var(--logo-part-color);
  border-color: var(--logo-part-color);
}

.modal-check {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  background-color: var(--main-color);

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.chechbox-input:checked + .icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
  background-color: var(--logo-part-color);
  background-size: contain; 
  background-origin: border-box;
  border-color: transparent;
}

/* Переваги */

.visually-hidden,
.chechbox-input { 
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
}

.benefits__heading {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.benefits__item {
  width: 270px;
}

.benefits__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;

  height: 120px;
  margin-bottom: 30px;
}

.benefits__item:not(:first-child) {
  margin-left: 30px;
}

.benefits__icon {
  display: block;
}

/* Чим ми займаємось? */

.activity {
  padding-top: 0;
}

.list.activity-list {
  display: flex;
}

.activity-item:not(:first-child) {
  margin-left: 30px;
}

.activity-item {
  position: relative;

  z-index: 1;
}

.activity-description {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);

  height: 70px;
  width: 100%;
}

/* Команда */

.team {
  background-color: var(--bcnd-col);
}

.team-heading,
.activity-heading,
.regular-customers-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.member-photo {
  margin-bottom: 30px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.speciality {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team-list-item {
  background-color: var(--main-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-list {
  display: flex;
}

.team-list-item:not(:first-child) {
  margin-left: 30px;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:not(:first-child) {
  margin-left: 10px;
}

.social-link-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--main-color);
  background-color: var(--logo-part-color);
}

.social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* Постійні клієнти */

.customers-list {
  display: flex;
  justify-content: center;
}

.list-box-item {
  width: 170px;
  height: 92px;
}

.list-box-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-box-link:hover,
.list-box-link:focus {
  color: var(--logo-part-color);
  border-color: var(--logo-part-color);
}

.icon-box {
  display: block;
  fill: currentColor;
}

.list-box-item:not(:last-child) {
  margin-right: 30px;
}

/* Адреса та контакти (футер) */

.adress-thumb {
  width: 231px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-margin {
  margin-bottom: 20px;
}

.list > .list-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress .adress-item {
  color: var(--main-color);
  font-style: normal;
}

.adress .mail,
.adress .phone {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

/* Секція заохочення */

.footer-flex {
  display: flex;
  align-items: baseline;
}

.encourage-box {
  margin-left: 70px;
}

.footer .footer-encourage {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.links-list-footer {
  display: flex;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link-footer:hover,
.footer .social-link-footer:active {
  background-color: var(--logo-part-color);
}

.footer-form {
  display: flex;

  margin-left: auto;
}

.footer-input {
  display: flex;
  flex-direction: column;

  margin-right: 12px;
}

.subscribe-input:not(:placeholder-shown) {
  color: #ffffff;
}

.subscribe-mailing-list {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);

  margin-bottom: 20px;
  cursor: pointer;
}

.subscribe-input {
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;

  height: 50px;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  background-color: transparent;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;

  align-self: flex-end;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);

  width: 200px;
  height: 50px;

  background: var(--logo-part-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  fill: #ffffff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-send-icon {
  margin-left: 10px;
}

/* Налаштування кнопок в Portfolio */

.button {
  font-family: var(--main-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
  background-color: var(--bcnd-col);
  border-radius: 4px;
  border-color: transparent;

  transition-property: color, backgtound-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--main-color);
  background-color: var(--logo-part-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);

  width: 100%;
  padding: 63px 24px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.link-shadow:hover .overlay-content,
.link-shadow:focus .overlay-content {
  transform: translateY(0);
}

/* Поточна сторінка */

.current {
  color: var(--logo-part-color);
  position: relative;
}

.current::after {
  display: inline-block;
  position: absolute;
  content: "";

  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--logo-part-color);
  border-radius: 2px;
}

/* Стилізація Portfolio */

.list-margin {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  justify-content: center;
  align-items: center;
}

.portfolio-list-item {
  background-color: var(--main-color);
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.list-button > .list-button-item:not(:first-child) {
  margin-left: 8px;
}

.list-button .button {
  padding: 6px 22px;
}

.portfolio-item-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.project-description {
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.item-padding {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  width: 370px;
}

.link-shadow {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-shadow:hover,
.link-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Властивості hover та focus на всі посилання*/

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--logo-part-color);
}
